RewriteEngine on

# Checks if page isnt a folder
RewriteCond %{REQUEST_FILENAME} !-d

# Checks if page is a file
RewriteCond %{REQUEST_FILENAME}\.html -f

# If conditions are true then removes .html
RewriteRule ^(.*)$ $1.html [NC,L]