/* Index.html */

@font-face {
    font-family: "Castlevania";
    src: url("/fonts/SOTN-font.ttf");
}

@keyframes breathing-select-red {
    from {
        background-color: rgb(150, 0, 0);
    }
    to {
        background-color: rgb(30, 0, 0);
    }
}

html {
    background-image: linear-gradient(#00010f, #0b0f47);
    background-attachment: fixed;
}

body {
    font-family: "Castlevania",
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table.main_table {
    margin-top: 20%;
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
}

td.menu {
    border: white;
    border-style: solid;
    border-width: 1px;
}

a.github {
    font-family: "Castlevania";
    font-size: 24px;
    color: white;
    text-decoration: none;
}

a.cv {
    font-family: "Castlevania";
    font-size: 24px;
    color: white;
    text-decoration: none;
}

a.games {
    font-family: "Castlevania";
    font-size: 24px;
    color: white;
    text-decoration: none;
}

a.contact {
    font-family: "Castlevania";
    font-size: 24px;
    color: white;
    text-decoration: none;
}

a.github:hover {
    animation : 1s infinite alternate ease-out breathing-select-red;
}

a.cv:hover {
    animation : 1s infinite alternate ease-out breathing-select-red;
}

a.contact:hover {
    animation : 1s infinite alternate ease-out breathing-select-red;
}

a.games:hover {
    animation : 1s infinite alternate ease-out breathing-select-red;
}

p.description {
    font-family: "Castlevania";
    color: grey;
    margin-left: 10em;
}

/* Contact.html */

p.email {
    font-size: medium;
    color: white;
}

a.back_btn {
    font-size: medium;
    color: white;
}

a.back_btn:focus {
    animation: none;
    border: none;
    background: rgb(200, 0, 0);
    outline: none;
}

a.back_btn:hover {
    animation : 1s infinite alternate ease-out breathing-select-red;
}

/* Games.html */

p.games_desc {
    font-size: 24px;
    color: white;
    margin-left: 2.5em;
}

.game_div {
    font-size: 18px;
    color: white;
    margin-left: 2.5em;
    margin-bottom: 2.5em;
}

.btn_preview {
    background: none;
    border: none;
    color: white;
    font-size: medium;
    font-family: "Castlevania", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0.5em;
    margin-left: 2em;
}

.btn_preview:hover {
    animation : 1s infinite alternate ease-out breathing-select-red;
    color: white;
}

.btn_preview:focus {
    animation: none;
    border: none;
    background: rgb(200, 0, 0);
    outline: none;
}

.lnk_game {
    color: rgb(172, 172, 172);
    font-size: larger;
}