/* Index.html */

body {
    background-color: rgb(0, 0, 0);
    font-family: monospace;
}

a.github {
    font-size: larger;
    color: white;
    margin-left: 2.5em;
}

a.cv {
    font-size: larger;
    color: white;
    margin-left: 2.5em;
}

a.games {
    font-size: larger;
    color: white;
    margin-left: 2.5em;
}

a.contact {
    font-size: larger;
    color: white;
    margin-left: 2.5em;
}

p.description {
    font-size: normal;
    color: grey;
    margin-left: 10em;
}

table.main_table {
    table-layout: fixed;
}

td.lisa {
    word-wrap: break-word;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* Contact.html */

p.email {
    font-size: larger;
    color: white;
}

a.back_btn {
    font-size: larger;
    color: white;
}

/* Games.html */

p.games_desc {
    font-size: larger;
    color: white;
    margin-left: 2.5em;
}